ol.breadcrumb li a {
    color: #717fe0 !important;
}

.btn-silverlight {
    color: #fff;
    background-color: #717fe0;
    border-color: #717fe0;
    box-shadow: none;
}

    .btn-silverlight:hover {
        color: #fff;
        background-color: #5966ba;
        border-color: #5966ba;
    }
.dataTable thead tr {
    background-color: #717fe0;
    color: white;
}

.table thead tr {
    background-color: #717fe0;
    color: white;
}

.dataTable > :not(:last-child) > :last-child > * {
    border-bottom-color: #717fe0 !important;
    text-align: center;
}

.page-link {
    color: #717fe0;
    cursor: pointer;
}

.page-item.active .page-link {
    background-color: #717fe0;
    border-color: #717fe0;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem #717fe059;
}

.navbar-nav > .user-menu > .dropdown-menu {
    width: 0;
}

.tbl-idx {
    width: 0.5rem;
}

.tbl-action {
    width: 8rem;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #717fe0;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500;
}

.content-wrapper span.field-validation-error {
    display: none;
}

.custom-tbl-info {
    padding-top: 0.85em;
}

.custom-pagination {
    justify-content: flex-end;
    margin-bottom: 0;
}

.profile-user-img{
    width:200px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: #717fe0;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: #717fe0;
}

.jstree-anchor > .jstree-themeicon {
    margin-right: 5px;
}

/* Icon coloring */
.icon-state-default {
    color: #c6c6c6;
}

.icon-state-success {
    color: #45B6AF;
}

.icon-state-info {
    color: #89C4F4;
}

.icon-state-warning {
    color: #dfba49;
}

.icon-state-danger {
    color: #F3565D;
}

.fa-lg,
.icon-lg {
    font-size: 16px !important;
}

.jstree-default .jstree-search {
    color: red;
}
